<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col order-last order-md-first text-md-start">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built By</span><span><img src="/images/andrewlight.png" height="20" style="filter: invert(1);" /></span>
                    </div>
                    <div class="col-12">
                        &copy; @DateTime.Now.Year by Andrew Oakes. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="/images/MagicCodeHLogo.png" height="50" />
            </div>
            <div class="col d-flex flex-column justify-content-end text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="https://github.com/OakesekAo" alt="Github" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/oakesa/" alt="LinkedIn" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://dev.oaklynxstudios.com/" alt="portfolio" target="_blank"><i class="bi bi-globe2"></i></a>
                    </div>
                    <div class="col-12 small">
                        <a href="https://www.oaklynxstudios.com/" alt="Oak Lynx Studios" target="_blank">Oak Lynx Studios</a>
                        &bull;
                        <a href="https://dev.oaklynxstudios.com/" alt="portfolio" target="_blank">Portfolio</a>
                        &bull;
                        <a href="https://twoishday.up.railway.app/" alt="Twoishday: Ticket Tracker" target="_blank">Twoishday: Ticket Tracker</a>
                    </div>
                    <div class="col-12">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
